In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Pegando os Dados - Uma visão geral

In [211]:
# Pick data from train.csv
data = pd.read_csv('train.csv')
data.head(21)

    Store  Dept        Date  Weekly_Sales  IsHoliday
0       1     1  2010-02-05      24924.50      False
1       1     1  2010-02-12      46039.49       True
2       1     1  2010-02-19      41595.55      False
3       1     1  2010-02-26      19403.54      False
4       1     1  2010-03-05      21827.90      False
5       1     1  2010-03-12      21043.39      False
6       1     1  2010-03-19      22136.64      False
7       1     1  2010-03-26      26229.21      False
8       1     1  2010-04-02      57258.43      False
9       1     1  2010-04-09      42960.91      False
10      1     1  2010-04-16      17596.96      False
11      1     1  2010-04-23      16145.35      False
12      1     1  2010-04-30      16555.11      False
13      1     1  2010-05-07      17413.94      False
14      1     1  2010-05-14      18926.74      False
15      1     1  2010-05-21      14773.04      False
16      1     1  2010-05-28      15580.43      False
17      1     1  2010-06-04      17558.09      False
18      1     1  2010-06-11      16637.62      False
19      1     1  2010-06-18      16216.27      False
20      1     1  2010-06-25      16328.72      False

# Analise Estatistica preliminar

In [44]:
data.describe()

               Store           Dept   Weekly_Sales
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

In [39]:
Store = data['Store'].unique()
Dept = data['Dept'].unique()
Date = data['Date'].unique()
Week_Sal = data['Weekly_Sales'].unique()
Is_Holi = data['IsHoliday'].unique()

# Verificando os possíveis valores de cada um dos parâmetros

In [43]:
print("Lojas:")
print(Store)
print("Departamentos:")
print(Dept)
print("Data:")
print(Date)
print("Vendas:")
print(Week_Sal)
print("EFerias:")
print(Is_Holi)

Lojas:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]
Departamentos:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 40 41 42 44 45 46 47 48 49 51 52
 54 55 56 58 59 60 67 71 72 74 77 78 79 80 81 82 83 85 87 90 91 92 93 94
 95 96 97 98 99 39 50 43 65]
Data:
['2010-02-05' '2010-02-12' '2010-02-19' '2010-02-26' '2010-03-05'
 '2010-03-12' '2010-03-19' '2010-03-26' '2010-04-02' '2010-04-09'
 '2010-04-16' '2010-04-23' '2010-04-30' '2010-05-07' '2010-05-14'
 '2010-05-21' '2010-05-28' '2010-06-04' '2010-06-11' '2010-06-18'
 '2010-06-25' '2010-07-02' '2010-07-09' '2010-07-16' '2010-07-23'
 '2010-07-30' '2010-08-06' '2010-08-13' '2010-08-20' '2010-08-27'
 '2010-09-03' '2010-09-10' '2010-09-17' '2010-09-24' '2010-10-01'
 '2010-10-08' '2010-10-15' '2010-10-22' '2010-10-29' '2010-11-05'
 '2010-11-12' '2010-11-19' '2010-11-26' '2010-12-03' '2010-12-10'
 '2010-12-17' '2010-12-24' '2010-12-31' '2011-01-07' '2011-01-14'
 '2011-01-21' '2011-01-28' '2011-02-04' '2011-02-11' '2011-02-18'
 '2011-02-25' '2011-03-04' '2011-03-11' '2011-03-18' '2011-03-25'
 '2011-04-01' '2011-04-08' '2011-04-15' '2011-04-22' '2011-04-29'
 '2011-05-06' '2011-05-13' '2011-05-20' '2011-05-27' '2011-06-03'
 '2011-06-10' '2011-06-17' '2011-06-24' '2011-07-01' '2011-07-08'
 '2011-07-15' '2011-07-22' '2011-07-29' '2011-08-05' '2011-08-12'
 '2011-08-19' '2011-08-26' '2011-09-02' '2011-09-09' '2011-09-16'
 '2011-09-23' '2011-09-30' '2011-10-07' '2011-10-14' '2011-10-21'
 '2011-10-28' '2011-11-04' '2011-11-11' '2011-11-18' '2011-11-25'
 '2011-12-02' '2011-12-09' '2011-12-16' '2011-12-23' '2011-12-30'
 '2012-01-06' '2012-01-13' '2012-01-20' '2012-01-27' '2012-02-03'
 '2012-02-10' '2012-02-17' '2012-02-24' '2012-03-02' '2012-03-09'
 '2012-03-16' '2012-03-23' '2012-03-30' '2012-04-06' '2012-04-13'
 '2012-04-20' '2012-04-27' '2012-05-04' '2012-05-11' '2012-05-18'
 '2012-05-25' '2012-06-01' '2012-06-08' '2012-06-15' '2012-06-22'
 '2012-06-29' '2012-07-06' '2012-07-13' '2012-07-20' '2012-07-27'
 '2012-08-03' '2012-08-10' '2012-08-17' '2012-08-24' '2012-08-31'
 '2012-09-07' '2012-09-14' '2012-09-21' '2012-09-28' '2012-10-05'
 '2012-10-12' '2012-10-19' '2012-10-26']
Vendas:
[24924.5  46039.49 41595.55 ...  1061.02   760.01  1076.8 ]
EFerias:
[False  True]

# Primeira Questao

In [80]:
'''
    As vendas totais de cada loja é a soma
    de cada quantidade de vendas em cada 
    departamento.
    
    Assim, pode-se fazer para cada loja uma
    tabela com a soma de vendas dos departamentos
    durante o tempo.
    
    Enfim, pode-se fazer a media dos valores
    de venda nas lojas fixando a data
'''
# Exemplo Data = 2010-02-05 e Store = 1
data[(data['Date'] == '2010-02-05') & (data['Store'] == 1)][['Weekly_Sales']].sum()

Weekly_Sales    1643690.9
dtype: float64

In [91]:
# Vendas totais de cada loja em cada período (soma departamento)
Sum_Store_Date = data.groupby(by = ['Store', 'Date'])[['Weekly_Sales']].sum()
Sum_Store_Date.head()

                  Weekly_Sales
Store Date
1     2010-02-05    1643690.90
      2010-02-12    1641957.44
      2010-02-19    1611968.17
      2010-02-26    1409727.59
      2010-03-05    1554806.68

In [115]:
# Média das vendas por período
Avg_Date = Sum_Store_Date.groupby(by = 'Date')[['Weekly_Sales']].mean()
Avg_Date.head()

            Weekly_Sales
Date
2010-02-05  1.105572e+06
2010-02-12  1.074148e+06
2010-02-19  1.072822e+06
2010-02-26  9.770794e+05
2010-03-05  1.041588e+06

# Segunda Questao

In [203]:
'''
    As 10 lojas que melhor performaram
    sao aquelas que apresentam maior
    vendas totais.
'''
# Vendas totais por loja
Sum_Store = Sum_Store_Date.groupby(by = 'Store')[['Weekly_Sales']].sum()
# Média das vendas para cada loja no periodo
Avg_Store = Sum_Store_Date.groupby(by = 'Store')[['Weekly_Sales']].mean()
# Ordenamento das lojas que mais venderam no período analisado
Sum_Store_bst10 = Sum_Store.sort_values(by = 'Weekly_Sales', ascending=False).iloc[0:11,:]
Sum_Store_bst10

       Weekly_Sales
Store
20     3.013978e+08
4      2.995440e+08
14     2.889999e+08
13     2.865177e+08
2      2.753824e+08
10     2.716177e+08
27     2.538559e+08
6      2.237561e+08
1      2.224028e+08
39     2.074455e+08
19     2.066349e+08

In [204]:
# Média das 10 com maior performace
Avg_Store_bst10 = Avg_Store.loc[Sum_Store_bst10.index, 'Weekly_Sales']
Avg_Store_bst10

Store
20    2.107677e+06
4     2.094713e+06
14    2.020978e+06
13    2.003620e+06
2     1.925751e+06
10    1.899425e+06
27    1.775216e+06
6     1.564728e+06
1     1.555264e+06
39    1.450668e+06
19    1.444999e+06
Name: Weekly_Sales, dtype: float64

# Terceira Questao

In [205]:
'''
    As 10 lojas que pior performaram
    são aquelas que apresentam menor
    vendas totais.
'''
# Vendas totais por loja
Sum_Store_worst = Sum_Store_Date.groupby(by = 'Store')[['Weekly_Sales']].sum()
# Média das vendas para cada loja no periodo
Avg_Store = Sum_Store_Date.groupby(by = 'Store')[['Weekly_Sales']].mean()
# Ordenamento das lojas que mais venderam no período analisado
Sum_Store_worst = Sum_Store_worst.sort_values(by = 'Weekly_Sales', ascending=True).iloc[0:11,:]
Sum_Store_worst

       Weekly_Sales
Store
33      37160221.96
44      43293087.84
5       45475688.90
36      53412214.97
38      55159626.42
3       57586735.07
30      62716885.12
37      74202740.32
16      74252425.40
29      77141554.31
9       77789218.99

In [206]:
# Média das 10 com piores performace
Avg_Store.loc[Sum_Store_worst.index, 'Weekly_Sales']

Store
33    259861.692028
44    302748.866014
5     318011.810490
36    373511.992797
38    385731.653287
3     402704.441049
30    438579.616224
37    518900.281958
16    519247.730070
29    539451.428741
9     543980.552378
Name: Weekly_Sales, dtype: float64

# Quarta Questao

In [192]:
'''
    Primeiramente faturamento com feriados
'''
# Separando o vetor de feriado
Holyday = data[data['IsHoliday'] == True]
Holyday.head()

    Store  Dept        Date  Weekly_Sales  IsHoliday
1       1     1  2010-02-12      46039.49       True
31      1     1  2010-09-10      18194.74       True
42      1     1  2010-11-26      18820.29       True
47      1     1  2010-12-31      19124.58       True
53      1     1  2011-02-11      37887.17       True

In [193]:
# Vendas totais de cada loja em cada período (Feriado)
Sum_Store_Date_Holy = Holyday.groupby(by = ['Store', 'Date'])[['Weekly_Sales']].sum()
Sum_Store_Date_Holy.head()

                  Weekly_Sales
Store Date
1     2010-02-12    1641957.44
      2010-09-10    1507460.69
      2010-11-26    1955624.11
      2010-12-31    1367320.01
      2011-02-11    1649614.93

In [207]:
# Média de vendas das lojas para cada periodo (Feriado)
Avg_Store_Date_Holy = Sum_Store_Date_Holy.groupby(by = ['Date'])[['Weekly_Sales']].mean()
Med_Store_Date_Holy = Sum_Store_Date_Holy.groupby(by = ['Date'])[['Weekly_Sales']].median()
Avg_Store_Date_Holy.head()

            Weekly_Sales
Date
2010-02-12  1.074148e+06
2010-09-10  1.014098e+06
2010-11-26  1.462689e+06
2010-12-31  8.985004e+05
2011-02-11  1.051915e+06

In [188]:
NotHolyday = data[data['IsHoliday'] == False]
NotHolyday.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False
5      1     1  2010-03-12      21043.39      False

In [190]:
# Vendas totais de cada loja em cada período (Sem Feriado)
Sum_Store_Date_NHoly = NotHolyday.groupby(by = ['Store', 'Date'])[['Weekly_Sales']].sum()
Sum_Store_Date_NHoly.head()

                  Weekly_Sales
Store Date
1     2010-02-05    1643690.90
      2010-02-19    1611968.17
      2010-02-26    1409727.59
      2010-03-05    1554806.68
      2010-03-12    1439541.59

In [208]:
# Média de vendas das lojas para cada periodo (Sem Feriado)
Avg_Store_Date_NHoly = Sum_Store_Date_NHoly.groupby(by = ['Date'])[['Weekly_Sales']].mean()
Med_Store_Date_NHoly = Sum_Store_Date_NHoly.groupby(by = ['Date'])[['Weekly_Sales']].median()
Avg_Store_Date_NHoly.head()

            Weekly_Sales
Date
2010-02-05  1.105572e+06
2010-02-19  1.072822e+06
2010-02-26  9.770794e+05
2010-03-05  1.041588e+06
2010-03-12  1.020564e+06